__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.uv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
*.sqlite3
*.db
.git
.gitignore
.idea
.vscode
*.log
media/
node_modules/
logs